$bg: #f2f2f2;
$bright: #fd9339;
$bright-dark: rgb(253, 119, 57);
$bright-light: rgba(253, 119, 57, 0.77);
$border: #f2f2f2;
$light-border: #f8f8f8;
$dark-border: #dfdfdf;
$light-content: #ececec;
$favourite-bg: #fef0f0;
$favourite-heart: #ff8585;
