@import 'assets/vars.scss';
@import 'assets/fonts.scss';

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 14px;

  @media (max-width: 640px) {
    font-size: 11px;
  }
}

h1,
p {
  margin: 0;
}

.title {}

.text {
  font-size: 14px;
}

.subtext {
  color: #9D9D9D;
}

.small_text {
  color: #BDBDBD;
  text-transform: uppercase;
  font-size: 11px;
}


.header {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1200px) {
    padding: 25px;
  }

  @media (max-width: 640px) {
    padding: 20px 20px 15px 20px;
    flex-direction: column;
    gap: 20px;
  }
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 0 0 400px;

  @media (max-width: 640px) {
    flex: unset;
    justify-content: space-between;
  }
}

.logo__img {
  display: block;
  flex: 0 0 40px;

  @media (max-width: 640px) {
    flex: 0;
  }
}

.logo__title {
  text-transform: uppercase;
}

.logo__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.account-info svg:hover {
  cursor: pointer;

  path {
    stroke: $bright;
  }
}

.account-info {
  display: flex;
  gap: 30px;
}

.account-info p {
  color: #5C5C5C;
}

.account-info_texted {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  &:hover {
    path {
      stroke: $bright;
    }
  }
}

.catalog {
  padding-bottom: 40px;

  @media (max-width: 1200px) {
    padding: 30px;
  }

  @media (max-width: 640px) {
    padding: 13px;
  }
}

.catalog__title {
  margin-bottom: 20px;

  @media (max-width: 640px) {
    align-self: center;
  }
}

.catalog__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  @media (max-width: 640px) {
    flex-direction: column;
    align-items: center;
  }
}

.catalog__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  border: #F3F3F3 1px solid;
  padding: 30px 20px 20px 20px;
  border-radius: 40px;
  justify-content: space-between;
  transition: 0.05s all ease-in-out;
  gap: 5px;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: 0px 10px 10px 0px #0000000D;
      cursor: pointer;
      transform: scale(1.01);
      transform: translateY(-3px);
    }
  }
}

.item__photo {
  position: relative;
  align-self: center;
}

.item__title {
  margin-bottom: 6px;
}

.favourite__icon {
  position: absolute;
  margin: 5px;
  border: $light-border 1px solid;
  border-radius: 7px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    fill: none;
    stroke: $light-content;
    stroke-width: 30px;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
    background-color: $favourite-bg;
    border: 1px solid transparent;
  }

  &:hover svg path {
    fill: $favourite-heart;
    stroke: transparent;
  }
}
}

.liked {
    background-color: $favourite-bg;
    border: 1px solid transparent;
  svg path {
    fill: $favourite-heart;
    stroke: transparent;
  }
}

.item__img {
  width: 180px;
  display: block;

  @media (max-width: 1200px) {
    width: 240px;
  }
}

.properties {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cost__text {
  margin-bottom: 3px;
}

.add-icon {
  width: 32px;
  height: 32px;
  border: $border 1px solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./assets/icons/add.svg') center no-repeat;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background:
        linear-gradient(180deg, rgba(253, 147, 57, 0.1) 0%, #FD9339 100%) center center / 400px 200px no-repeat,
        url('./assets/icons/added.svg') center no-repeat,
        #FD9339;
      border: 1px solid transparent;
    }
    }
}

.added {
  background:
    linear-gradient(180deg, rgba(253, 147, 57, 0.1) 0%, #FD9339 100%) center center / 400px 200px no-repeat,
    url('./assets/icons/added.svg') center no-repeat,
    #FD9339;
  border: 1px solid transparent;
}

.with_icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .input_with_icon {
    padding-left: 50px;
  }

  .input__img {
    position: absolute;
    left: 20px;
  }
}


.drawer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 385px;
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
  @media (max-width: 640px) {
    width: unset;
    padding: 30px 25px;
  }
}

.drawer_empty {
  gap: 30%;
}

.drawer_empty__text {
  display: flex;
  justify-content: center;
}

.drawer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.drawer__item {
  border-radius: 20px;
  border: $border 1px solid;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.item__info {
  display: flex;
  flex-direction: column;
}

.item__img_drawer {
  width: 70px;
  height: 70px;
}

.shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(92, 92, 92, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.cost__amount {
  font-size: 14px;
  font-weight: 700;
}

.close_delete-icon {
  position: relative;
  cursor: pointer;
  border: $border 1px solid;
  border-radius: 8px;
  width: 32px;
  height: 32px;
}

.close_delete-icon::before {
  content: '';
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./assets/icons/add.svg') center no-repeat;
  transform: rotate(45deg);
}

.close {
  border: 1px solid transparent;
  transform: scale(1.5);
}