@import 'assets/vars.scss';
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    background-color: $bg;
    padding: 60px 0;
    @media (max-width: 1200px) {
        padding: 0;
    }
}
#root {
    max-width: 1280px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 20px;
}
a {
    text-decoration: none;
    color: inherit;
    width: unset;
}